body {
    margin: 40px 32px;
    font-size: 18px;
    line-height: normal;
    font-family: "Ubuntu", sans-serif;
    background-color: #D8D8D8;
    }

.visually-hidden, 
.todo-list-input{
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.hidden {
    display: none;
}

.non-active-list{
    margin-top: 100px;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.active-list h2{
    color: #DC143C;
}

.non-active-list h2{
    color: #69b253;
}

.todo-list-item {
    margin-bottom: 12px;
}

.todo-list-item label {
    display: block;
    padding: 12px 18px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    user-select: none;
}

.todo-list-item .item-content {
    display: flex;
	align-items: center;
	overflow: hidden;
}

.todo-list-item label{
	position: relative;
	padding-left: 54px;
	padding-right: 40px;
}

.todo-list-item.done .item-content{
    text-decoration: line-through;
}

.item-delete{
	position: absolute;
	display: none;
	right: 15px;
	text-decoration: none;
	color: #000;
	font-size: 22px;
	top: 50%;
	transform: translateY(-50%);
}

.todo-list-item.done .item-delete{
	display: block;
}

.todo-list-item:not(.done) .item-decor {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background-color: #ffffff;
    border: 2px solid #DC143C;
	border-radius: 4px;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.todo-list-input:checked + .item-content::before,
.todo-list-input:checked + .item-content::after,
.todo-list-item:not(.done):hover .item-content::before,
.todo-list-item:not(.done):hover .item-content::after{
    content: "";
    background-color: #69b253;
    height: 15px;
    width: 4px;
    position: absolute;
    border-radius: 3px;
	border: none;
	z-index: 5;
}

.todo-list-input:checked + .item-content::before, 
.todo-list-item:not(.done):hover .item-content::before{
    transform: rotate(-30deg);
    left: 20px;
}

.todo-list-input:checked + .item-content::after, 
.todo-list-item:not(.done):hover .item-content::after{
    transform: rotate(30deg);
    left: 26px;
}

.empty-tasks {
    color: #69b253;
}

.add-form {
    display: flex;
}

.add-form-input {
    flex-grow: 1;
    box-sizing: border-box;
    height: 46px;
    margin-right: 16px;
    padding: 12px;
    font: inherit;
    border: 1px solid #a1b5c4;
    border-radius: 4px;
}

.add-form-input:focus {
    border: 1px solid #DC143C;
    outline: none;
}

.add-form-input:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.add-form-input::placeholder {
    color: #a1b5c4;
}

.add-form-button {
    flex-shrink: 0;
    padding: 12px;
    font: inherit;
    color: #ffffff;
    background-color: #DC143C;
    border: none;
    border-radius: 4px;
    user-select: none;
    touch-action: manipulation;
}

.add-form-button:hover,
.add-form-button:focus {
    background-color: #DC143C;
    outline: none;
}

.add-form-button:active {
    background-color: #DC143C;
}
@media (max-width: 768px) {
	.item-delete{
	    display: block
	}
}
@media (max-width: 470px){
	.add-form {
	    flex-wrap: wrap;
	}
	.add-form-input{
	    margin-right: 0;
	    margin-bottom: 10px;
	}
} 

